
<h1 MiDirectiva>FORMULARIO BÁSICO</h1>

<form [formGroup]="signupForm" (ngSubmit)="sendForm(signupForm.value)">
  <div>
    <input formControlName="name" type="text" placeholder="Introducir nombre">
  </div>
  <div>
    <input formControlName="user" type="text" placeholder="Introducir usaurio">
  </div>
  <div>
    <input formControlName="email" type="email" placeholder="Introducir email">
    <div class="form-text-error" *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched">Introducir un email válido</div>
  </div>
  <div>
    <input formControlName="passw" type="password" placeholder="Introducir contraseña">
  </div>
  <div>
    <button [disabled]="signupForm.invalid" type="submit" class="w-100">Registrarse</button>
  </div>
</form>